.carousel {
    height: 500px !important;
}
.carousel-inner img {
    height: 400px !important;
    margin: 0 auto;
}
.carousel-indicators li {
    border-color: #000;
}
.carousel-indicators .active {
    background-color: #000;
}

body {
    margin: 0;
    background:lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

my-from {
    background: white;
    float: left;

    padding: 30px;
    color: #7b7b7b;
}

label, span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e6;
    outline: none;
    margin: 0;
}
.radio label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    width: 50%;
    float: left;
    line-height: 40px;
}
.radio input {
    position: absolute;
    opacity: 0;
}
.radio-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #e6e6e6;
    border-radius: 50%;
    text-align: center;
}

